<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>PAL Order Portal Admin</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-image-container">
      <img src="PAL_BlueTexture-350w.png" id="login-image" alt="PAL Main Image">
    </div>
    <div id="login-text">Provider Portal Admin</div>
    <form action="/admin" method="post" id="login-form">
      <label class="changepass-label">Account #1</label> 
      <input type="text" class="login-input" name="accountNumber1" placeholder="Account #1">
	  <label class="changepass-label">Account #2</label> 
      <input type="text" class="login-input" name="accountNumber2" placeholder="Account #2">
	  <label class="changepass-label">Account #3</label> 
      <input type="text" class="login-input" name="accountNumber3" placeholder="Account #3">
	  <label class="changepass-label">Account #4</label> 
      <input type="text" class="login-input" name="accountNumber4" placeholder="Account #4">
      <label class="changepass-label">Admin Password</label> 
      <input type="password" class="login-input" name="password" placeholder="Password">
      <input type="submit" id="login-submit" value="Update">
    </form>
    <div id="login-copyright">&copy; 2019 PAL Health Technologies</div>
    <div id="rights-reserved">All Rights Reserved</div>
  </div>
</body>
<script>

    function deleteAllCookies() {
        let cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let eqPos = cookie.indexOf("=");
            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    setTimeout(() => {
      deleteAllCookies()
      window.location = '/login'
    }, 900000)

</script>
</html>