<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>PAL Order Portal Login Error</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-image-container">
      <img src="PAL_BlueTexture-350w.png" id="login-image" alt="PAL Main Image">
    </div>
    <div class="forgot-text"><%= errorText %></div>
    <a href="javascript:history.back()" class="back-button-container">
        <div class="back-button">Go Back</div>
    </a>
  </div>
</body>
<script>

    function deleteAllCookies() {
        let cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let eqPos = cookie.indexOf("=");
            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    setTimeout(() => {
      deleteAllCookies()
      window.location = '/login'
    }, 900000)
    
</script>
</html>