<div class="footer-container">
    <!-- <div id="footer-image-container"></div> -->
    <div id="footer-copyright">&copy; 2019 PAL Health Technologies</div>
    <p>|</p>
    <div id="footer-rights">All Rights Reserved</div>
</div>