<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>PAL Order Portal Login Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-image-container">
      <img src="/PAL_BlueTexture-350w.png" id="login-image" alt="PAL Main Image">
    </div>
    <div class="forgot-text">Please enter your username and account number and we will send a password reset link to the email address attached to your account.
        For providers with more than one account: use any account number you used while signing up for the portal. 
    </div>
    <form action="/forgotpass" method="post" id="login-form">
      <label class="changepass-label">Username*</label>  
      <input type="text" class="login-input" name="username" placeholder="Username">
      <label class="changepass-label">Account Number*</label>
      <input type="text" class="login-input" name="accountNumber" placeholder="Account Number">
      <input type="submit" id="login-submit" value="Submit">
    </form>
    <a href="javascript:history.back()" class="second-button-container">
      <div class="back-button">Go Back</div>
    </a>
    <div id="login-copyright">&copy; 2019 PAL Health Technologies</div>
    <div id="rights-reserved">All Rights Reserved</div>
  </div>
</body>
<script>

    function deleteAllCookies() {
        let cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let eqPos = cookie.indexOf("=");
            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    setTimeout(() => {
      deleteAllCookies()
      window.location = '/login'
    }, 900000)
    
</script>
</html>