<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>PAL Order Portal Login Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-image-container">
      <img src="PAL_BlueTexture-350w.png" id="login-image" alt="PAL Main Image">
    </div>
    <div class="forgot-text">Please enter your email and account number to receive an email with instructions to change your password.
        For providers with more than one account: feel free to use any account number you used while signing up for the portal. 
    </div>
    <form action="/forgotpass" method="post" id="login-form">
      <label class="changepass-label">Email</label>  
      <input type="text" class="login-input" name="email" placeholder="Email">
      <label class="changepass-label">Account Number*</label>
      <input type="text" class="login-input" name="accountNumber" placeholder="Account Number">
      <input type="submit" id="login-submit" value="Submit">
    </form>
    <div id="login-copyright">&copy; 2019 PAL Health Technologies</div>
    <div id="rights-reserved">All Rights Reserved</div>
  </div>
</body>

</html>