<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>PAL Provider Portal Confirm Reorder</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-image-container">
      <img src="PAL_BlueTexture-350w.png" id="login-image" alt="PAL Main Image">
    </div>
    <div class="forgot-text"><%= messageText %></div>
    <a href="/" class="back-button-container">
        <div class="back-button">Return to Main Page</div>
    </a>
  </div>
</body>

</html>