<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Redirect Link</title>
  </head>
  <body>
    You have reached the non-secure (http) access point to the PAL Provider Portal.
    <a href="http://xtremity3d.com">Click here</a>
    to go to Xtremity 3D and click on the blue 'Login to Portal' button on the top of the page to reach the secure login page.
  </body>
</html>